body {
    background-color: #F9EFEF;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1d21;
    margin-top: 100px;
}

img {
    width: 100%;
}

h1 {
    margin: 15px 0;
}

h2 {
    margin: 15px;
}

p {
    margin: 20px;
}

section {
    background-color: #F9EFEF;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    box-shadow: #fdc54c 0 0 15px;
    border: 1px solid #aaa;
}

article {
    background-color: #F9EFEF;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: #fdc54c 0 0 15px;
    border: 1px solid #aaa;
}

.card {
    margin-top: 200px;
    margin-left: 400px;
    margin-bottom: 25px;
    width: 400px;
}

.card .avatar {
    box-shadow: #fdc54c 0 0 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -75px;
}

.card h2 {
    font-weight: 100;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 50px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.nav {
    margin-left: 500px;
    margin-top: 40px;
    width: 200px;
    position: sticky;
}

.sites {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sites li {
    width: 50px;
    display: inline-block;
    padding: 20px 10px;
}

.sites li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.bio {
    width: 600px;
    margin-left: 900px;
    margin-top: -500px;
}

.bio img {
    border-radius: 100%;
    margin: 25px auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 400px;
    height: 500px;
}

.blogheader {
    width: 300px;
    margin-left: 1050px;
    margin-top: -450px;
    margin-bottom: 40px;
}

.blogpost {
    width: 600px;
    margin-left: 900px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.linklist li {
    width: 60px;
    display: inline-block;
    padding: 20px 20px;
}
