body {
    background-color: #F9EFEF;
    font-family: Arial, Helvetica, sans-serif;
    color: #101010;
    margin: 100px;
    margin-top: 125px;
    text-align: center;
}

img {
    width: 100%;
}

h1 {
    margin: 15px 0;
}

h2 {
    margin: 20px;
}

p {
    margin: 25px;
    line-height: 25px;
}

article {
    background-color: #F9EFEF;
    border-radius: 15px;
    width: 600px;
    margin-top: 35px;
    box-shadow: #4166d5 0 0 15px;
    border: #2a4895 dashed 5px;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#box {
    background-color: #F9EFEF;
    border-radius: 15px;
    margin-top: 35px;
    box-shadow: #4166d5 0 0 15px;
    border: #2a4895 dashed 7px;
}

.card {
    margin-top: 30px;
    margin-bottom: 35px;
    margin-right: 50px;
    width: 350px;
    position: sticky;
}

.card .avatar {
    background-color: #F9EFEF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -75px;
    box-shadow: #4166d5 0 0 15px;
    border: #2a4895 dashed 7px;
    padding: 10px 10px;
}

.card h2 {
    font-weight: 100;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 50px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.nav {
    width: 350px;
    position: sticky;
}

.sites {
    padding: 0;
    list-style-type: none;
}

.sites li {
    width: 50px;
    display: inline-block;
    padding: 20px 10px;
}

.sites li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.bio {
    width: 400px;
    margin-top: -25px;
}

.bio img {
    border-radius: 100%;
    rotate: 15deg;
    margin-top: 25px;
    width: 90%;
    height: 90%;
    box-shadow: #4166d5 0 0 15px;
    border: #2a4895 dashed 7px;
    padding: 10px 10px;
}

.linklist li {
    width: 60px;
    display: inline-block;
    padding: 20px 20px;
}

.blogheader {
    width: 600px;
    margin-top: -50px;
    background-color: #F9EFEF;
    border-radius: 15px;
    box-shadow: #4166d5 0 0 15px;
    border: #2a4895 dashed 7px;
}