body {
    background-color: #F9EFEF;
    font-family: Arial, Helvetica, sans-serif;
    color: #101010;
    margin-top: 75px;
}

img {
    width: 100%;
}

h1 {
    margin: 15px 0;
}

h2 {
    margin: 15px;
}

p {
    margin: 20px;
    line-height: 23px;
}

section {
    background-color: #F9EFEF;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    box-shadow: #fdc54c 0 0 15px;
    border: 1px solid #aaa;
}

article {
    background-color: #F9EFEF;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: #fdc54c 0 0 15px;
    border: 1px solid #aaa;
}

#nav {
    background-color: #F9EFEF;
    border-radius: 15px;
    text-align: center;
    margin-left: 525px;
    box-shadow: #fdc54c 0 0 15px;
    border: 1px solid #aaa;
}

#nav-border  {
    padding: 40px 20px;
    width: 400px;
    margin-left: 400px;
    border-bottom: #2a4895 dashed 7px;
}

.card {
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 25px;
    width: 400px;
    position: sticky;
}

.card .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -75px;
    border: #2a4895 dashed 7px;
    padding: 10px 10px;
}

.card h2 {
    font-weight: 100;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 50px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.nav {
    margin-left: 425px;
    margin-top: 50px;
    width: 200px;
    position: sticky;
}

.sites {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sites li {
    width: 50px;
    display: inline-block;
    padding: 20px 10px;
}

.sites li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.bio {
    width: 600px;
    margin-left: 900px;
    margin-top: -525px;
}

.bio img {
    border-radius: 100%;
    rotate: 25deg;
    margin: 25px auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 350px;
    height: 400px;
    border: #2a4895 dashed 7px;
    padding: 10px 10px;
}

.blogpost {
    width: 600px;
    margin-left: 900px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.linklist li {
    width: 60px;
    display: inline-block;
    padding: 20px 20px;
}

#border-top {
    padding: 40px 20px;
    border-top: #2a4895 dashed 7px;
}

#blogheader {
    width: 300px;
    margin-left: 1050px;
    margin-top: -425px;
    margin-bottom: 40px;
}